:root {
  --accent-color: #2979FF;
  --text-color: rgba(0, 0, 0, .87);
  --text-color-secondary: rgba(0, 0, 0, .6);
  --border-radius:  16px;
  --card-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
::-webkit-scrollbar {
  width: 16px;
  background: #F1F1F1;
}
::-webkit-scrollbar-button {
  height: 16px;
  background: #C1C1C1;
  border: 2px solid #F1F1F1;
  border-radius: var(--border-radius);
}
::-webkit-scrollbar-button:hover {
  background: var(--accent-color);
}
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border: 2px solid #F1F1F1;
  border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(+10px);
  }
}
@keyframes fadeLog {
  0% {
    opacity: 0;
    transform: translate(-50%, +10px);
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}
html, body {
  height: 100%;
  font: 14px arial, sans-serif;
  color: var(--text-color-secondary);
  line-height: 1.5;
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  height: 56px;
  width: 100%;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0,0,0,.5);
  z-index: 50;
}
.back {
  display: inline-block;
  margin: 16px;
  width: 24px;
  height: 24px;
  background: center/cover rgba(0,0,0,0) url("../images/back.svg") no-repeat;
}
h1 {
  display: inline-block;
  height: 100%;
  margin: 0;
  font-size: 1.17em;
  line-height: 56px;
}
main {
  max-width: 480px;
  margin: 56px auto 0;
  padding: 16px;
  animation: fade 1s;
}
h1, h2 {
  font-weight: normal;
  color: var(--text-color);
}
button, .input-file, input[type=text], .log, img {
  display: inline-block;
  margin: 0 0 16px;
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}
button, .input-file, input[type=text], .log {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.25;
  vertical-align: middle;
  outline: none;
}
button, .input-file {
  background: var(--accent-color);
  color: #fff;
  cursor: pointer;
}
button:hover, .input-file:hover {
  filter: brightness(.9);
  text-decoration: none;
}
button:active, .input-file:active {
  filter: brightness(.8);
}
input[type=text] {
  width: calc(100% - 32px);
  background: #fff;
}
.log {
  position: fixed;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 16px;
  max-width: 240px;
  width: 70vw;
  background: #FF5722;
  color: #fff;
  text-align: center;
  z-index: 25;
  animation: fadeLog 1s;
}
img {
  max-width: 100%;
}
input[type="file"] {
  display: none;
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: underline;
}
