*{
  margin:0;
  padding:0;
}
html{
  width:100%;
  height:100%;
  font:14px arial,sans-serif;
  color:#000;
  background:#fff;
}
body{
  width:100%;
}
header{
  position:fixed;
  top:0;
  display:flex;
  height:64px;
  width:100%;
  background:#F2F2F2;
  padding:0 16px;
  overflow:hidden;
}
.back{
  display:inline-block;
  margin:20px 8px;
  width:24px;
  height:24px;
  background:rgba(0,0,0,0) url("../images/back.svg") no-repeat;
  background-size:100% 100%;
}
h3{
  height:100%;
  display:inline-block;
  padding:0 8px;
  font-weight:400;
  font-size:1.17em;
  line-height:64px;
}
article{
  max-width:1240px;
  margin:64px auto 0;
  padding:1px 16px 0;
}
h1{
  font-size:20px;
  margin:24px 0 16px 0;
  font-weight:600;
}
h2{
  font-size:14px;
  margin:24px 0 16px 0;
  font-weight:normal;
  color:#f80;
}
p,button,input[type=text],.input-file{
  margin:0 0 10px;
}
button,.input-file{
  vertical-align:middle;
  background:#ccc;
  cursor:pointer;
  outline:0;
  border:2px solid #ccc;
  display:inline-block;
  line-height:36px;
  padding:0 16px;
}
button:hover,.input-file:hover{
  border:2px solid #7a7a7a;
}
input[type=text]{
  padding:6px 3px;
  display:inline-block;
  width:20em;
  max-width:100%;
  border:2px solid #ccc;
  outline:0;
}
input[type="file"]{
  display: none;
}
img{
  max-width:192px;
}

/*Experimental*/
.input-file{
  display:none;
}
